@media only screen and (min-width: 340px) and (max-width: 499px) and (orientation: portrait)   {
.wrapper {
  width: 320px;
  height: 100vh;
  border: 1px solid hsla(360, 100%, 100%, 0.5);
  margin: 0 auto;
  background: #090909;
}

.menu__ul--v {
  display: block;
  margin: 0 auto;
  list-style: none;
  width: 280px;
  background: #a9a9a9;
}

.menu__item--v {
  margin-bottom: 15px ;
}

.menu__item--v > a {
   display: block;
   padding: 3px 5px;
   background: #ccc;
   color: #000;
   position: relative;
}
.menu__item--v > a:hover {
  background: #999;
  color: maroon;;
}
}
